
<h1>{{tableTitle}}</h1>
<div class="table-header">
    <form [formGroup]="tableForm">
        <mat-form-field appearance="outline">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter()" placeholder="Filter" formControlName="filterValue">
        </mat-form-field>
    </form>
</div>

<div class="table-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort #sort="matSort">

            <!-- Position Column -->
            <ng-container matColumnDef="position" sticky>
                <mat-header-cell mat-sort-header *matHeaderCellDef class="table-column-100"> No. </mat-header-cell>
                <mat-cell *matCellDef="let element" class="table-column-100"> {{element.position}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name" sticky>
                <mat-header-cell mat-sort-header *matHeaderCellDef class="table-column-100"> Name </mat-header-cell>
                <mat-cell *matCellDef="let element" class="table-column-100"> {{element.name}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <mat-header-cell mat-sort-header *matHeaderCellDef class="table-column-100"> Weight </mat-header-cell>
                <mat-cell *matCellDef="let element" class="table-column-100"> {{element.weight}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <mat-header-cell mat-sort-header *matHeaderCellDef class="table-column-100"> Symbol </mat-header-cell>
                <mat-cell *matCellDef="let element" class="table-column-100"> {{element.symbol}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="test">
                <mat-header-cell mat-sort-header *matHeaderCellDef class="table-column-100"> test </mat-header-cell>
                <mat-cell *matCellDef="let element" class="table-column-100"> {{element.test}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="test1">
                <mat-header-cell mat-sort-header *matHeaderCellDef class="table-column-100"> test1 </mat-header-cell>
                <mat-cell *matCellDef="let element" class="table-column-100"> {{element.test1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="test2">
                <mat-header-cell mat-sort-header *matHeaderCellDef class="table-column-100"> test2 </mat-header-cell>
                <mat-cell *matCellDef="let element" class="table-column-100"> {{element.test2}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="test3">
                <mat-header-cell mat-sort-header *matHeaderCellDef class="table-column-100"> test3 </mat-header-cell>
                <mat-cell *matCellDef="let element" class="table-column-100"> {{element.test3}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="test4">
                <mat-header-cell mat-sort-header *matHeaderCellDef class="table-column-100"> test4 </mat-header-cell>
                <mat-cell *matCellDef="let element" class="table-column-100"> {{element.test4}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="test5">
                <mat-header-cell mat-sort-header *matHeaderCellDef class="table-column-100"> test5 </mat-header-cell>
                <mat-cell *matCellDef="let element" class="table-column-100"> {{element.test5}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="test6">
                <mat-header-cell mat-sort-header *matHeaderCellDef class="table-column-100"> test6 </mat-header-cell>
                <mat-cell *matCellDef="let element" class="table-column-100"> {{element.test6}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="test7">
                <mat-header-cell mat-sort-header *matHeaderCellDef class="table-column-100"> test7 </mat-header-cell>
                <mat-cell *matCellDef="let element" class="table-column-100"> {{element.test7}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="test8">
                <mat-header-cell mat-sort-header *matHeaderCellDef class="table-column-100"> test8 </mat-header-cell>
                <mat-cell *matCellDef="let element" class="table-column-100"> {{element.test8}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="test9">
                <mat-header-cell mat-sort-header *matHeaderCellDef class="table-column-100"> test9 </mat-header-cell>
                <mat-cell *matCellDef="let element" class="table-column-100"> {{element.test9}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns sticky:true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <div>
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 20]"
                [showFirstLastButtons]="true">
            </mat-paginator>
        </div>

    </div>
<!-- end table container -->
