.table-container {
    display: flex;
    flex-direction: column;
    min-height: 429px;
    max-height: 429px;
} 
mat-table{
    display: flex;
    flex-direction: column;
    min-height: 374px;
    overflow: auto;
    width: 100%;
    overflow-x: auto;
}

.table-header {
    min-height: 64px;
    /* padding: 8px 24px 0; */
}

mat-form-field {
    width: 100%;
}

.table-column-100 {
    min-width: 95px; /* Set a minimum width for columns with this class */
}

.mat-header-cell, .mat-cell {
    position: sticky;
    top: 0;
    background-color: white; /* Adjust the background color as needed */
}


  
  