<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list *ngIf="cardLayout | async as layout" [cols]="layout.columns" rowHeight="200px">
    <!-- Mini Cards -->
    <mat-grid-tile [colspan]="layout.miniCard.cols || 1" [rowspan]="layout.miniCard.rows || 1">
      <app-card title="Mini Cards">
        <div class="dashboard">
          <div class="count-box">
            <p class="count">150</p>
            <h2>Total Tasks</h2>
          </div>
          <div class="count-box">
            <p class="count">75</p>
            <h2>Completed Tasks</h2>
          </div>
          <div class="count-box">
            <p class="count">20</p>
            <h2>Pending Tasks</h2>
          </div>
          <div class="count-box">
            <p class="count">25</p>
            <h2>New Tasks This Week</h2>
          </div>
          <div class="count-box">
            <p class="count">5</p>
            <h2>Pending Approvals</h2>
          </div>
        </div>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="layout.miniCard.cols || 1" [rowspan]="layout.miniCard.rows || 1">
      <app-card title="Mini Cards">
        <div class="dashboard">
          <div class="count-box">
            <p class="count">10</p>
            <h2>Open Issues</h2>
          </div>
          <div class="count-box">
            <p class="count">12</p>
            <h2>Closed Issues</h2>
          </div>
          <div class="count-box">
            <p class="count">8</p>
            <h2>Reopned Issues</h2>
          </div>
          <div class="count-box">
            <p class="count">18</p>
            <h2>New Issues</h2>
          </div>
          <div class="count-box">
            <p class="count">4</p>
            <h2>Backlogged Issues</h2>
          </div>
        </div>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="layout.miniCard.cols || 1" [rowspan]="layout.miniCard.rows || 1">
      <app-card title="Mini Cards">
        <div class="dashboard">
          <div class="count-box">
            <p class="count">150</p>
            <h2>High Priority</h2>
          </div>
          <div class="count-box">
            <p class="count">75</p>
            <h2>Medium Priority</h2>
          </div>
          <div class="count-box">
            <p class="count">20</p>
            <h2>Low Priority</h2>
          </div>
          <div class="count-box">
            <p class="count">10</p>
            <h2>On Hold</h2>
          </div>
          <div class="count-box">
            <p class="count">4</p>
            <h2>Discussion Pending</h2>
          </div>
        </div>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="layout.miniCard.cols || 1" [rowspan]="layout.miniCard.rows || 1">
      <app-card title="Mini Cards">
        <div class="dashboard">
          <div class="count-box">
            <p class="count">4</p>
            <h2>Task Pending By Maroti</h2>
          </div>
          <div class="count-box">
            <p class="count">3</p>
            <h2>Task Pending By Murali</h2>
          </div>
          <div class="count-box">
            <p class="count">2</p>
            <h2>Task Pending By Ramya</h2>
          </div>
          <div class="count-box">
            <p class="count">4</p>
            <h2>Task Pending By Sambit</h2>
          </div>
          <div class="count-box">
            <p class="count">2</p>
            <h2>Task Pending By Siva</h2>
          </div>
        </div>
      </app-card>
    </mat-grid-tile>
    <!-- Charts -->
    <mat-grid-tile [colspan]="layout.chart.cols || 1" [rowspan]="layout.chart.rows || 1">
      <app-card>
        <!-- <app-annual-sales-chart [chartTitle]="'Developer Work Week'" [data]="data" [chartSubTitle]="'Median hours/week'"></app-annual-sales-chart> -->
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="layout.chart.cols || 1" [rowspan]="layout.chart.rows || 1">
      <app-card>
        <!-- <app-product-sales-chart [chartTitle]="'Product Sales'"></app-product-sales-chart> -->
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="layout.chart.cols || 1" [rowspan]="layout.chart.rows || 1">
      <app-card>
        <!-- <app-sales-traffic-chart [chartTitle]="'Sales by Traffic Source'"></app-sales-traffic-chart> -->
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="layout.chart.cols || 1" [rowspan]="layout.chart.rows || 1">
      <app-card>
        <!-- <app-store-sessions-chart [chartTitle]="'Annual Expenses'"></app-store-sessions-chart> -->
      </app-card>
    </mat-grid-tile>
    <!-- Table -->
    <mat-grid-tile [colspan]="layout.table.cols || 1" [rowspan]="layout.table.rows || 1">
      <app-card title="Table">
        <app-table [displayedColumns]="displayedColumns" [dataSource]="dataSource"
          [tableTitle]="tableTitle"></app-table>
      </app-card>
    </mat-grid-tile>
  </mat-grid-list>



</div>